### Tuple

In [1]:
t = ()
type(t)

tuple

In [2]:
t1 = (1,243,4,True,2+3j)
t1

(1, 243, 4, True, (2+3j))

In [3]:
t1[0]

1

In [4]:
t1[::-1]

((2+3j), True, 4, 243, 1)

In [5]:
tuples = ("yash", 12, True, 2+4j)
type(tuples)

tuple

In [6]:
tuples[::-1]

((2+4j), True, 12, 'yash')

In [7]:
tuples[:2]

('yash', 12)

In [8]:
tuples.count("yash")

1

In [11]:
tuples

('yash', 12, True, (2+4j))

In [13]:
tuples.index(1)

2

In [14]:
data = (1,True,"yash",12,34)
data.count(1)

2

In [18]:
for i in tuples:
    print(i, type(i))

yash <class 'str'>
12 <class 'int'>
True <class 'bool'>
(2+4j) <class 'complex'>

In [19]:
t2 = (1,3,3,4)
t2 * 3

(1, 3, 3, 4, 1, 3, 3, 4, 1, 3, 3, 4)

In [20]:
t1 = (1,2,3,4)
t2 = (4,5,6,7)

In [21]:
t1 + t2

(1, 2, 3, 4, 4, 5, 6, 7)

In [22]:
t3 = (t1,t2)
t3

((1, 2, 3, 4), (4, 5, 6, 7))

In [23]:
del t3

In [24]:
t3

NameError: name 't3' is not defined

In [25]:
len(t1)

4

In [27]:
data = (1,True,"yash",12,34)
data

(1, True, 'yash', 12, 34)

In [28]:
"yash" in data

True

In [31]:
s = {}
type(s)

dict

In [34]:
s1 = {1,2,3,3,4,66,6,6,7,4,5}

In [33]:
s1

{1, 2, 3, 4, 5}

In [35]:
# Duplicate are not allowed
# unordered 
# conversion of set to list and tuple is possible in set case and vice versa
# it allow to store tuple but not list

In [36]:
list(s1)

[1, 2, 3, 4, 66, 6, 7, 5]

In [37]:
tuple(s1)

(1, 2, 3, 4, 66, 6, 7, 5)

In [38]:
lst = [1,2,1,3,3,4,5,5]
set(lst)

{1, 2, 3, 4, 5}

In [39]:
s4 = {12,3,4,(12,11,10)}
s4

{(12, 11, 10), 12, 3, 4}

In [40]:
s5 = {1,2,4,[1,3,4]}

TypeError: unhashable type: 'list'

In [41]:
s4

{(12, 11, 10), 12, 3, 4}

In [45]:
for data in set(lst):
    print(data)

1
2
3
4
5

In [46]:
new_set = {1,2,3,4,5,1,2,4,5,6,7}
new_set

{1, 2, 3, 4, 5, 6, 7}

In [47]:
new_set.add(100)

In [49]:
new_set

{1, 2, 3, 4, 5, 6, 7, 100}

In [50]:
new_set.add(2)

In [51]:
new_set

{1, 2, 3, 4, 5, 6, 7, 100}

In [52]:
len(new_set)

8

In [53]:
new_set.pop()

1

In [54]:
new_set

{2, 3, 4, 5, 6, 7, 100}

In [55]:
new_set.pop()

2

In [56]:
new_set.pop()

3

In [57]:
new_set

{4, 5, 6, 7, 100}

In [58]:
new_set.clear()

In [59]:
new_set

set()

In [60]:
new_set

set()

In [61]:
s8 = {1,2,3,4}
s9 = {1,2,3,5}

In [62]:
s8.difference(s9)

{4}

In [63]:
s9.difference(s8)

{5}

### Dictionary

In [64]:
d = {}
type(d)

dict

In [67]:
d1 = {'name':'Anirudhra','email':'rao@gmail.com','number':23123123}

In [68]:
d1

{'name': 'Anirudhra', 'email': 'rao@gmail.com', 'number': 23123123}

In [69]:
d2 = {'name':'anni','name':'anir'}

In [70]:
d2

{'name': 'anir'}

In [71]:
# duplucations is  not allowed key should be unique if u r passing same key it will become updated.

In [72]:
d3 = {123:'nothing'}

In [73]:
d3

{123: 'nothing'}

In [74]:
d4 = {23.32:"nothing"}

In [75]:
d4

{23.32: 'nothing'}

In [76]:
d5 = {$:'nothing'}

SyntaxError: invalid syntax (204049524.py, line 1)

In [78]:
d6 = {[12,3,3]:"nothing"}

TypeError: unhashable type: 'list'

In [79]:
d7 = {(2,3,4):"nothing"}

In [80]:
d7

{(2, 3, 4): 'nothing'}

In [81]:
d8 = {{1,2}:"nothing"}

TypeError: unhashable type: 'set'

In [84]:
d9 = {'course_name':['DSA','Data science','System design']}

In [85]:
d9

{'course_name': ['DSA', 'Data science', 'System design']}

In [86]:
d10 = {'key':(1,2,3)}

In [87]:
d10

{'key': (1, 2, 3)}

In [88]:
d1

{'name': 'Anirudhra', 'email': 'rao@gmail.com', 'number': 23123123}

In [89]:
d1['passcode'] : "rao121"

In [90]:
d1

{'name': 'Anirudhra', 'email': 'rao@gmail.com', 'number': 23123123}

In [91]:
d1['name'] = 'Anirudhra rao'

In [92]:
d1

{'name': 'Anirudhra rao', 'email': 'rao@gmail.com', 'number': 23123123}

In [98]:
type(d1['name'])

str

In [99]:
d1['key']

KeyError: 'key'

In [100]:
d11 = {'key':{'name':'anirudhra','class':'DSM'}}

In [102]:
d11['key']

{'name': 'anirudhra', 'class': 'DSM'}

In [103]:
d11['key']['class']

'DSM'

In [104]:
del d11['key']['name']

In [105]:
d11

{'key': {'class': 'DSM'}}

In [106]:
d11.clear()

In [107]:
d11

{}

In [108]:
d12 = {'key':{'name':'anirudhra','class':'DSM'}}

In [109]:
len(d12)

1

In [110]:
d12.items()

dict_items([('key', {'name': 'anirudhra', 'class': 'DSM'})])

In [111]:
d12.values()

dict_values([{'name': 'anirudhra', 'class': 'DSM'}])

In [115]:
d12.keys()

dict_keys(['key'])

In [118]:
new_d = d12.copy()
# deep copy (try reserve new space in memory)

In [117]:
new_d

{'key': {'name': 'anirudhra', 'class': 'DSM'}}

In [119]:
d13 = d12
# shallow copy(whic means deletion will affect the variable and its not create new memory location)

In [120]:
d13

{'key': {'name': 'anirudhra', 'class': 'DSM'}}

In [121]:
d12

{'key': {'name': 'anirudhra', 'class': 'DSM'}}

In [124]:
d12.pop('key')

{'name': 'anirudhra', 'class': 'DSM'}

In [125]:
d12

{}

In [126]:
d12['name'] = "anirudhra"

In [127]:
d12

{'name': 'anirudhra'}

In [128]:
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [131]:
d12

{'name': 'anirudhra'}

In [132]:
d12.get('name')

'anirudhra'

In [136]:
d12.get('key')

In [137]:
{ i:i**2 for i in range(1,11) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [142]:
import math
logs = { i:math.log10(i) for i in range(1,11)}

In [139]:
d12

{'name': 'anirudhra'}

In [140]:
"name" in d12

True

In [141]:
"name" not in d12

False

In [ ]:
for i in logs.keys():
    if i%2==0:
        print(i,logs[i])

2 0.3010299956639812
4 0.6020599913279624
6 0.7781512503836436
8 0.9030899869919435
10 1.0